test/javasource/
test/deployment/
test/.classpath
test/.project
test/userlib/
test/.svn/
test/.classpath
test/.project
*.launch
*.tmp
*.lock
.idea/

dist/

node_modules/
.editorconfig
*DS_Store*
.vscode/
*.bak
test/theme/styles/sass/
test/.mendix-cache/